
<h1>Bienvenue</h1>

<h2>Voici ton profil</h2>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
 
<p>
  <strong>Fac:</strong>
  <%= @user.fac %>
</p>


<p>
  <strong>Formation:</strong>
  <%= @user.formation %>
</p>

<p>
  <strong>Niveau:</strong>
  <%= @user.niveau %>
</p>


 <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>


